In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
import pandas as pd
import numpy as np

# 1. Load data

In [3]:
df_2009_2010 = pd.read_excel("online_retail_II.xlsx", sheet_name='Year 2009-2010')

In [4]:
df_2010_2011 = pd.read_excel("online_retail_II.xlsx", sheet_name='Year 2010-2011')

In [5]:
df = pd.concat([df_2009_2010, df_2010_2011])

In [6]:
df.shape

(1067371, 8)

# 2. Check data quality

data type

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1067371 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 73.3+ MB

In [8]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

columns name

In [9]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

data type

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1067371 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 73.3+ MB

check missing value

In [11]:
df.isna().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [12]:
df = df.dropna()

check white space

In [13]:
def empty_or_whitespace_strings(df):
    string_columns = df.select_dtypes(include=['object']).columns
    empty_whitespace_check = df[string_columns].applymap(lambda x: isinstance(x, str) and x.isspace())

    count_empty_whitespace = empty_whitespace_check.sum()
    rows_with_whitespace_indices = empty_whitespace_check.any(axis=1)
    list_row_with_whilespace_indices = df.index[rows_with_whitespace_indices].tolist()

    return count_empty_whitespace, list_row_with_whilespace_indices

In [14]:
show_whilespace, indices_whilesapce = empty_or_whitespace_strings(df)

In [15]:
show_whilespace

Invoice        0
StockCode      0
Description    0
Country        0
dtype: int64

check unique value

In [16]:
for i in df.columns:
    print('Columns name: ', i)
    print('Unique value: ', df[i].unique())
    print('Count unique value: ', df[i].nunique())
    print('-'*10)

Columns name:  Invoice
Unique value:  [489434 489435 489436 ... 581585 581586 581587]
Count unique value:  44876
----------
Columns name:  StockCode
Unique value:  [85048 '79323P' '79323W' ... 23562 23561 23843]
Count unique value:  4646
----------
Columns name:  Description
Unique value:  ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'SILVER AND BLACK ORBIT NECKLACE'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
Count unique value:  5299
----------
Columns name:  Quantity
Unique value:  [    12     48     24     10     18      3     16      4      2      6
      8      1     28     30     60     32     56      9     25     36
     20    -12     -6     -4    -24     -3     -2    576    288     27
     64    160      5     -1     72     50     54      7    800     11
     58    192     96    144    100    180    216     15    240    108
     33     90     81    -81    -48     17     -5     40     -8     -9
     13     21    120    200    168     19    280    128   -150    -18
    -23     80    300    450     14     61    480     -7     46    504
     45   4320   5184   4008     22    600    505    500     23     47
    432    252     75    -16   -504   -600   -252   -246    -36    360
    107     49     42     66    -10     34     52    400     70    936
    -32    -60    -96    -50   -120     35    -64   -168    -30    256
   1500    320    130   1002     26   1080     29    -13     67    960
    864    150    126    468    336   3000    -25     38    208    334
    124    125    117   -200     39    -20     55    -11     78   -100
    -17   -144     77    350    526     98    112     59     37    -14
    408   1440    832    624    204    198    608    224     43     65
    720    271     41    264    225    104    163    187    312    164
    110   -190    250    -72    284     89    118   -400   6012    866
   6144   2040   2520   3888   5280   4800   6768   9312    384     44
    -44    132   -132    -27    229     62     82    114    -26    156
    -22    460     84   -300    374    190    484    -21  19152   3312
   1344   2504   1968    482   4176   2880   6696   1200   1800   1400
   4200    696   3360   3200   3040   2700     51  -2504   9456    176
    -40    900     53   -192   -240    -15    152    700     74   1008
   -432   -108    141    537     88    140    -28    -80     31    205
    247    372   2016     87    992  12960  12480  12744   1110   4608
   5364    420     68     91    148   1000    640  10000    -74    135
     76    840    816    324    -42    648     85   1152    102   -408
    -38   -128  -1440    -34    498    768   -288   -204   -160    246
     71    516    270    560   -309    392    -19    396    612    322
   -500   -280   -140   -250   -156    105    175    136    171  -1200
    -69   -312    -51    -49   5000   2500    808   2664   1728    228
   2972   1098   1128    276    -41    134    830   -830    210   -210
    730    122    293   3500    -98    -99   1056    220    352    -29
    -61   2000   -576   -320   -648    248    330   -720     95    -85
   -264    235    -90    174    -55   2304   1120    -46    -33    985
   3936   2976   4752   1872   1116    567    684    984   1308   2112
   2952   4992   2496   3648   1536   1248   1632   7008   7128   3072
    444   3744   1104     63    327   -180   -118     97     57    121
    394   1920   3960    876    756    672   -324    189   2004   1512
    704    760    464    520  -5184  -1248  -1536   -864  -3648  -2496
  -4992  -2952  -2112  -1308   -984   -768   -684   -567  -1116   -372
   -480  -1872  -4752  -4320  -1104   -960  -4608  -2000  -3744   -444
  -3072  -7128  -7008  -1632  -2976  -3936    139    -35    -31    162
    448    304    -59   3120   1224   -700    196    201    402    625
   1240  -1152   -384    888    -56   -148    512   1944   1960   9360
   6336   -270    169    243   -243   2400    213    212  -2400   1680
   -248   -256   1584   -212   -213   -110    -82    -68    -45    -37
    -65   -129   -117  -9360   1824     69    378    972   1488   1394
    272    -47   1296    147    860   1010   1356   1284    186   1930
   3114   1300    670  74215 -74215    456    -94   2592    -76    407
   3906    -86   -102   2160    342   -624    151    -58   -670  -1300
  -1930  -3114    462    492    273   1350    428  -1350    101    227
    222    906    552    738   4300    -52   1600    323   1515  -1515
    660   -420    188    588   -164    430    701    828    540    291
   3186     83     79   -360    -75    109   -121    129    261    348
   1900    157    -39    116    968    824   -828   -701    410    236
    230   -334   -318   -126   -113     86     93    494     92   1788
    744    416    496    306   1878    666    708   1428    852   1412
    528   -756   -152    -79    -43    183   -186    -53    -70   1540
   -130   -220   -840  -1296     94    255   -468    -66   -112    912
   1992    232    630   1020   2100   -162    -67   -276   -184    234
    244   -244   -234  12540    115    774    490    388    620   1404
    698  80995 -80995]
Count unique value:  643
----------
Columns name:  InvoiceDate
Unique value:  <DatetimeArray>
['2009-12-01 07:45:00', '2009-12-01 07:46:00', '2009-12-01 09:06:00',
 '2009-12-01 09:08:00', '2009-12-01 09:24:00', '2009-12-01 09:28:00',
 '2009-12-01 09:43:00', '2009-12-01 09:44:00', '2009-12-01 09:46:00',
 '2009-12-01 09:50:00',
 ...
 '2011-12-09 12:09:00', '2011-12-09 12:16:00', '2011-12-09 12:19:00',
 '2011-12-09 12:20:00', '2011-12-09 12:21:00', '2011-12-09 12:23:00',
 '2011-12-09 12:25:00', '2011-12-09 12:31:00', '2011-12-09 12:49:00',
 '2011-12-09 12:50:00']
Length: 41439, dtype: datetime64[ns]
Count unique value:  41439
----------
Columns name:  Price
Unique value:  [  6.95   6.75   2.1  ...  13.35   4.76 224.69]
Count unique value:  1022
----------
Columns name:  Customer ID
Unique value:  [13085. 13078. 15362. ... 15520. 13298. 12713.]
Count unique value:  5942
----------
Columns name:  Country
Unique value:  ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Japan' 'Denmark' 'Netherlands' 'Poland' 'Spain'
 'Channel Islands' 'Italy' 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden'
 'United Arab Emirates' 'Finland' 'Switzerland' 'Unspecified' 'Nigeria'
 'Malta' 'RSA' 'Singapore' 'Bahrain' 'Thailand' 'Israel' 'Lithuania'
 'West Indies' 'Korea' 'Brazil' 'Canada' 'Iceland' 'Lebanon'
 'Saudi Arabia' 'Czech Republic' 'European Community']
Count unique value:  41
----------

Quantity and Price > 0

In [17]:
df = df[df['Quantity'] > 0]

In [18]:
df = df[df['Price'] > 0]

In [19]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

check Description

In [20]:
description_counts = df.groupby('StockCode').agg(number_description=('Description', pd.Series.nunique)).reset_index()

In [21]:
multiple_descriptions = description_counts[description_counts['number_description'] > 1]

In [22]:
multiple_descriptions = multiple_descriptions.sort_values("number_description", ascending=False)

In [23]:
multiple_descriptions

         StockCode  number_description
1423         22345                   4
1458         22384                   4
1422         22344                   4
2275         23236                   4
2235         23196                   4
...            ...                 ...
1493         22425                   2
1500         22432                   2
1501         22433                   2
1513         22445                   2
4621  BANK CHARGES                   2

[624 rows x 2 columns]

In [24]:
df[df['StockCode'] == 22345]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
3763,489784,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-02 11:48:00,0.85,13269.0,United Kingdom
7287,490017,22345,PARTY PIZZA DISH BLUE WHITE SPOT,6,2009-12-03 12:31:00,0.85,14159.0,United Kingdom
17494,490786,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-08 11:23:00,0.85,15079.0,United Kingdom
81546,496882,22345,PARTY PIZZA DISH BLUE WHITE SPOT,1,2010-02-04 14:13:00,0.85,15167.0,United Kingdom
88014,497615,22345,PARTY PIZZA DISH BLUE WHITE SPOT,6,2010-02-11 11:59:00,0.85,14527.0,United Kingdom
...,...,...,...,...,...,...,...,...
526151,580652,22345,PARTY PIZZA DISH BLUE POLKADOT,144,2011-12-05 13:33:00,0.19,17511.0,United Kingdom
526490,580671,22345,PARTY PIZZA DISH BLUE POLKADOT,24,2011-12-05 14:26:00,0.19,15159.0,United Kingdom
530028,580771,22345,PARTY PIZZA DISH BLUE POLKADOT,6,2011-12-06 10:58:00,0.19,16015.0,United Kingdom
533144,581015,22345,PARTY PIZZA DISH BLUE POLKADOT,24,2011-12-07 09:35:00,0.19,13949.0,United Kingdom
539987,581453,22345,PARTY PIZZA DISH BLUE POLKADOT,24,2011-12-08 18:15:00,0.19,16401.0,United Kingdom

In [25]:
def fix_duplicates_description(df):
    df['Description'] = df.groupby('StockCode')['Description'].transform('first')
    return df

In [26]:
df = fix_duplicates_description(df)

In [27]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

check Description (again)

In [28]:
description_counts = df.groupby('StockCode').agg(number_description=('Description', pd.Series.nunique)).reset_index()

In [29]:
multiple_descriptions = description_counts[description_counts['number_description'] > 1]

In [30]:
multiple_descriptions = multiple_descriptions.sort_values("number_description", ascending=False)

In [31]:
multiple_descriptions

Empty DataFrame
Columns: [StockCode, number_description]
Index: []

In [32]:
df[df['StockCode'] == 22345]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
3763,489784,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-02 11:48:00,0.85,13269.0,United Kingdom
7287,490017,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2009-12-03 12:31:00,0.85,14159.0,United Kingdom
17494,490786,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,12,2009-12-08 11:23:00,0.85,15079.0,United Kingdom
81546,496882,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,1,2010-02-04 14:13:00,0.85,15167.0,United Kingdom
88014,497615,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2010-02-11 11:59:00,0.85,14527.0,United Kingdom
...,...,...,...,...,...,...,...,...
526151,580652,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,144,2011-12-05 13:33:00,0.19,17511.0,United Kingdom
526490,580671,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,24,2011-12-05 14:26:00,0.19,15159.0,United Kingdom
530028,580771,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,6,2011-12-06 10:58:00,0.19,16015.0,United Kingdom
533144,581015,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,24,2011-12-07 09:35:00,0.19,13949.0,United Kingdom
539987,581453,22345,PARTY PIZZA DISH BLUE+WHITE SPOT,24,2011-12-08 18:15:00,0.19,16401.0,United Kingdom

check StockCode

In [33]:
stockcode_counts = df.groupby('Description').agg(number_stockcode=('StockCode', pd.Series.nunique)).reset_index()

In [34]:
multiple_stockcode = stockcode_counts[stockcode_counts['number_stockcode'] > 1]

In [35]:
multiple_stockcode = multiple_stockcode.sort_values("number_stockcode", ascending=False)

In [36]:
multiple_stockcode

                          Description  number_stockcode
2394   METAL SIGN,CUPCAKE SINGLE HOOK                 3
996      COLOURING PENCILS BROWN TUBE                 3
2467     MODERN CHRISTMAS TREE CANDLE                 2
4201          This is a test product.                 2
3988    SQUARE CHERRY BLOSSOM CABINET                 2
3324         RETRO PLASTIC POLKA TRAY                 2
3322         RETRO PLASTIC DAISY TRAY                 2
3321          RETRO PLASTIC 70'S TRAY                 2
2922       PINK FLOWERS RABBIT EASTER                 2
2913    PINK FLOCK GLASS CANDLEHOLDER                 2
2907    PINK FAIRY CAKE CUSHION COVER                 2
156      ACRYLIC JEWEL SNOWFLAKE,BLUE                 2
531     BLUE FLOCK GLASS CANDLEHOLDER                 2
1630              FROSTED WHITE BASE                  2
1607    FRENCH LATTICE CUSHION COVER                  2
1604     FRENCH FLORAL CUSHION COVER                  2
1278  EAU DE NILE JEWELLED PHOTOFRAME                 2
1000          COLUMBIAN CANDLE ROUND                  2
999            COLUMBIAN CANDLE ROUND                 2
998        COLUMBIAN CANDLE RECTANGLE                 2
4363      WHITE BAMBOO RIBS LAMPSHADE                 2

In [37]:
df[df['Description'] == 'METAL SIGN,CUPCAKE SINGLE HOOK']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
7255,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7256,490017,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7258,490017,82613C,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
13875,490503,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",3,2009-12-06 14:00:00,1.25,14548.0,United Kingdom
19293,490972,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",16,2009-12-08 16:40:00,1.25,14911.0,EIRE
...,...,...,...,...,...,...,...,...
477522,577058,82613C,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2011-11-17 14:29:00,1.25,18122.0,United Kingdom
477524,577058,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2011-11-17 14:29:00,1.25,18122.0,United Kingdom
477589,577062,82613C,"METAL SIGN,CUPCAKE SINGLE HOOK",8,2011-11-17 14:40:00,1.25,18221.0,United Kingdom
482589,577479,82613C,"METAL SIGN,CUPCAKE SINGLE HOOK",8,2011-11-20 11:34:00,1.25,14911.0,EIRE
531553,580956,82613B,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2011-12-06 14:23:00,1.25,17841.0,United Kingdom

In [38]:
def fix_duplicates_stockcode(df):
    df['StockCode'] = df.groupby('Description')['StockCode'].transform('first')
    return df

In [39]:
df = fix_duplicates_stockcode(df)

In [40]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

check StockCode (again)

In [41]:
stockcode_counts = df.groupby('Description').agg(number_stockcode=('StockCode', pd.Series.nunique)).reset_index()

In [42]:
multiple_stockcode = stockcode_counts[stockcode_counts['number_stockcode'] > 1]

In [43]:
multiple_stockcode = multiple_stockcode.sort_values("number_stockcode", ascending=False)

In [44]:
multiple_stockcode

Empty DataFrame
Columns: [Description, number_stockcode]
Index: []

In [45]:
df[df['Description'] == 'METAL SIGN,CUPCAKE SINGLE HOOK']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
7255,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7256,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
7258,490017,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2009-12-03 12:31:00,1.25,14159.0,United Kingdom
13875,490503,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",3,2009-12-06 14:00:00,1.25,14548.0,United Kingdom
19293,490972,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",16,2009-12-08 16:40:00,1.25,14911.0,EIRE
...,...,...,...,...,...,...,...,...
477522,577058,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2011-11-17 14:29:00,1.25,18122.0,United Kingdom
477524,577058,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2011-11-17 14:29:00,1.25,18122.0,United Kingdom
477589,577062,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",8,2011-11-17 14:40:00,1.25,18221.0,United Kingdom
482589,577479,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",8,2011-11-20 11:34:00,1.25,14911.0,EIRE
531553,580956,82613A,"METAL SIGN,CUPCAKE SINGLE HOOK",1,2011-12-06 14:23:00,1.25,17841.0,United Kingdom

check unique value (again)

In [46]:
for i in df.columns:
    print('Columns name: ', i)
    print('Unique value: ', df[i].unique())
    print('Count unique value: ', df[i].nunique())
    print('-'*10)

Columns name:  Invoice
Unique value:  [489434 489435 489436 ... 581585 581586 581587]
Count unique value:  36969
----------
Columns name:  StockCode
Unique value:  [85048 '79323P' '79323W' ... 23562 23561 23843]
Count unique value:  4608
----------
Columns name:  Description
Unique value:  ['15CM CHRISTMAS GLASS BALL 20 LIGHTS' 'PINK CHERRY LIGHTS'
 ' WHITE CHERRY LIGHTS' ... 'SET OF 6 RIBBONS PERFECTLY PRETTY  '
 'SET OF 6 RIBBONS PARTY' 'PAPER CRAFT , LITTLE BIRDIE']

Count unique value:  4608
----------
Columns name:  Quantity
Unique value:  [   12    48    24    10    18     3    16     4     2     6     8     1
    28    30    60    32    56     9    25    36    20   576   288    27
    64   160     5    72    50    54     7   800    11    58   192    96
   144   100   180   216    15   240   108    33    90    81    17    40
    13    21   120   200   168    19   280   128    80   300   450    14
    61   480    46   504    45  4320  5184  4008    22   600   505   500
    23    47   432   252    75   360   107    49    42    66    34    52
   400    70   936    35   256  1500   320   130  1002    26  1080    29
    67   960   864   150   126   468   336  3000    38   208   334   124
   125   117    39    55    78    77   350   526    98   112    59    37
   408  1440   832   624   204   198   608   224    43    65   720   271
    41   264   225   104   163   187   312   164   110   250   284    89
   118  6012   866  6144  2040  2520  3888  5280  4800  6768  9312   384
    44   132   229    62    82   114   156   460    84   374   190   484
 19152  3312  1344  2504  1968   482  4176  2880  6696  1200  1800  1400
  4200   696  3360  3200  3040  2700    51  9456   176   900    53   152
   700    74  1008   141   537    88   140    31   205   247   372  2016
    87   992 12960 12480 12744  1110  4608  5364   420    68    91   148
  1000   640 10000   135    76   840   816   324   648    85  1152   102
   498   768   246    71   516   270   560   392   396   612   322   105
   175   136   171  5000  2500   808  2664  1728   228  2972  1098  1128
   276   134   830   210   730   122   293  3500  1056   220   352  2000
   248   330    95   235   174  2304  1120   985  3936  2976  4752  1872
  1116   567   684   984  1308  2112  2952  4992  2496  3648  1536  1248
  1632  7008  7128  3072   444  3744  1104    63   327    97    57   121
   394  1920  3960   876   756   672   189  2004  1512   704   760   464
   520   139   162   448   304  3120  1224   196   201   402   625  1240
   888   512  1944  1960  9360  6336   169   243  2400   213   212  1680
  1584  1824    69   378   972  1488  1394   272  1296   147   860  1010
  1356  1284   186  1930  3114  1300   670 74215   456  2592   407  3906
  2160   342   151   462   492   273  1350   428   101   227   222   906
   552   738  4300  1600   323  1515   660   188   588   430   701   828
   540   291  3186    83    79   109   129   261   348  1900   157   116
   968   824   410   236   230    86    93   494    92  1788   744   416
   496   306  1878   666   708  1428   852  1412   528   183  1540    94
   255   912  1992   232   630  1020  2100   234   244   115   774   490
   388   620  1404   698 80995]
Count unique value:  437
----------
Columns name:  InvoiceDate
Unique value:  <DatetimeArray>
['2009-12-01 07:45:00', '2009-12-01 07:46:00', '2009-12-01 09:06:00',
 '2009-12-01 09:08:00', '2009-12-01 09:24:00', '2009-12-01 09:28:00',
 '2009-12-01 09:43:00', '2009-12-01 09:44:00', '2009-12-01 09:46:00',
 '2009-12-01 09:50:00',
 ...
 '2011-12-09 12:09:00', '2011-12-09 12:16:00', '2011-12-09 12:19:00',
 '2011-12-09 12:20:00', '2011-12-09 12:21:00', '2011-12-09 12:23:00',
 '2011-12-09 12:25:00', '2011-12-09 12:31:00', '2011-12-09 12:49:00',
 '2011-12-09 12:50:00']
Length: 34585, dtype: datetime64[ns]
Count unique value:  34585
----------
Columns name:  Price
Unique value:  [6.95000e+00 6.75000e+00 2.10000e+00 1.25000e+00 1.65000e+00 5.95000e+00
 2.55000e+00 3.75000e+00 5.45000e+00 1.69000e+00 1.45000e+00 3.39000e+00
 8.50000e+00 4.65000e+00 2.95000e+00 4.25000e+00 8.50000e-01 9.95000e+00
 8.95000e+00 6.50000e-01 4.95000e+00 9.80000e-01 1.15000e+00 2.00000e+00
 1.30000e+00 2.50000e+00 3.00000e+00 1.90000e+00 2.15000e+00 2.40000e+00
 6.38000e+00 6.40000e+00 4.20000e-01 1.95000e+00 7.95000e+00 1.80000e+01
 7.20000e-01 5.50000e-01 1.41000e+02 3.80000e-01 1.27500e+01 3.95000e+00
 1.30000e+02 2.12000e+00 2.10000e-01 1.49000e+00 6.35000e+00 1.49500e+01
 3.45000e+00 1.06000e+00 2.75000e+00 1.09500e+01 7.50000e-01 5.49000e+00
 3.25000e+00 1.69500e+01 9.50000e-01 2.90000e-01 2.25000e+00 1.99500e+01
 3.40000e-01 1.90000e-01 1.07500e+01 6.40000e-01 3.70000e-01 1.00000e-01
 4.59500e+01 1.89500e+01 2.99500e+01 2.19500e+01 3.49000e+00 1.55000e+00
 1.06500e+01 1.05000e+00 1.40000e-01 8.49000e+00 1.85000e+00 4.60000e+00
 3.81000e+00 3.35000e+00 1.59500e+01 1.75000e+00 3.60000e-01 1.80000e-01
 3.49500e+01 1.20000e-01 7.65000e+00 7.50000e+00 5.55000e+00 8.00000e-02
 6.00000e-02 5.00000e-01 7.99500e+01 1.47500e+01 2.50000e-01 1.19500e+01
 4.80000e-01 3.20000e-01 6.70000e-01 1.50000e+00 5.00000e+01 3.50000e+00
 2.20000e-01 2.80000e+01 1.60000e-01 4.99500e+01 1.50000e+01 3.99500e+01
 7.25000e+00 7.35000e+00 4.00000e-02 4.00000e+01 1.00000e+01 4.00000e+00
 8.70000e+00 7.90000e-01 2.16000e+02 5.75000e+00 9.45000e+00 1.27000e+00
 1.21302e+03 6.45000e+00 9.00000e-02 4.50000e+00 6.09000e+00 2.36000e+00
 1.40000e+00 3.59500e+01 5.00000e+00 1.19000e+00 3.20000e+00 2.60000e+00
 1.00000e+00 1.70000e+00 2.49500e+01 3.50000e-01 8.03250e+02 5.30000e-01
 7.41000e+01 6.89600e+01 3.38000e+00 7.93000e+00 7.30000e+00 7.80520e+02
 1.80000e+02 7.36000e+00 9.75110e+02 4.35880e+02 1.70000e-01 6.00000e+00
 7.00000e-01 2.80000e+00 8.00000e+00 1.10000e+00 7.00000e+00 5.85000e+00
 5.46950e+02 3.54450e+02 2.00000e+01 1.00000e-03 4.00000e-01 7.56850e+02
 6.25000e+00 3.00000e-01 1.50000e-01 1.19389e+03 6.36000e+00 6.83400e+01
 2.01560e+02 2.05820e+02 2.10000e+01 6.32400e+01 5.67300e+01 1.17720e+02
 1.29230e+02 1.32790e+02 3.96700e+01 3.42800e+02 1.78310e+02 1.55800e+01
 2.74200e+02 6.41300e+01 1.07140e+02 8.45800e+01 4.57000e+00 4.93500e+01
 1.79450e+02 1.63300e+01 1.39710e+02 4.89600e+01 1.13100e+01 1.19000e+01
 2.43630e+02 1.14890e+02 4.10900e+01 2.78200e+01 8.16100e+01 7.75200e+01
 3.87540e+02 8.98560e+03 2.59500e+01 7.16000e+00 8.18190e+02 6.08500e+02
 7.49000e+00 5.10000e+01 2.56000e+00 1.02840e+02 3.65100e+02 1.00000e+02
 2.69500e+01 1.50865e+03 4.49500e+01 4.58000e+00 5.99500e+01 6.00000e+01
 6.96000e+00 7.26000e+00 8.80000e-01 6.30000e-01 2.40000e-01 1.10000e-01
 1.25000e+02 1.19600e+02 2.00000e+02 3.50000e+01 3.08740e+02 6.99500e+01
 1.20000e+00 2.30000e+00 2.00000e-01 1.45000e+02 5.25000e+00 1.80000e+00
 4.50000e-01 1.29500e+01 6.95817e+03 3.22690e+02 1.09535e+04 3.68000e+01
 2.90000e+00 7.82560e+02 9.18000e+01 2.41380e+02 1.31680e+02 3.59000e+00
 1.18000e+00 1.92000e+00 2.66000e+00 1.98000e+00 1.38000e+00 3.62000e+00
 1.74000e+00 8.00000e-01 6.00000e-01 3.67000e+00 5.88000e+00 6.68000e+00
 1.28900e+01 2.56200e+01 1.52000e+00 4.19000e+00 3.06000e+02 1.59000e+00
 7.98000e+00 1.06600e+01 6.77000e+00 8.62000e+00 5.36000e+00 9.48000e+01
 5.76300e+01 8.74840e+02 4.75000e+00 3.71850e+02 2.29000e+00 3.74000e+00
 3.66000e+00 7.45000e+00 1.48000e+00 3.00000e+01 2.85000e+02 2.69340e+02
 1.60000e+00 2.30000e+02 6.62250e+02 3.96200e+02 1.10000e+02 5.20000e-01
 1.58000e+00 2.20000e+02 1.09900e+01 6.60000e-01 7.97000e+00 7.00000e+01
 1.01990e+02 7.00000e-02 1.70000e+01 7.46000e+00 4.86000e+00 8.70000e-01
 5.43000e+00 1.47000e+00 2.90000e+02 8.49450e+02 2.97570e+02 1.00063e+03
 4.17000e+00 3.00130e+02 3.58470e+02 7.24500e+01 1.70000e+02 8.51300e+01
 2.03000e+01 6.20000e-01 2.50000e+01 7.15020e+02 2.95000e+02 7.80000e-01
 2.70000e-01 2.20000e+00 1.08000e+00 5.06000e+00 3.18000e+00 2.54000e+00
 1.57000e+00 9.50000e+01 3.61050e+03 5.50000e+01 8.00000e+02 3.34880e+02
 1.30000e-01 3.10000e-01 3.30000e-01 5.00000e-02 3.00000e-02 1.33000e+00
 4.96000e+00 1.66000e+00 6.86000e+00 1.50000e+02 2.80000e+02 1.97000e+00
 3.86000e+00 6.76000e+00 8.90000e-01 2.47000e+00 1.86856e+03 9.90000e+01
 1.05575e+03 1.20000e+01 7.40000e-01 9.90000e+00 4.29500e+01 1.29950e+02
 2.29460e+02 6.84400e+01 4.50000e+01 8.41500e+01 9.88800e+01 7.16100e+01
 4.45050e+02 1.04688e+04 2.76990e+03 3.59710e+02 2.08630e+02 1.34344e+03
 1.59540e+02 4.56000e+00 5.15000e+00 4.14000e+00 8.87000e+00 6.89000e+00
 1.43000e+00 5.96000e+00 3.17000e+00 7.13000e+00 3.40000e+00 4.80000e+00
 1.88000e+00 6.54000e+00 4.83150e+02 2.37850e+02 9.00000e-01 3.98000e+00
 2.54585e+03 1.95000e+01 3.11990e+02 3.88000e+00 1.68600e+01 4.78000e+00
 5.37000e+00 9.86000e+00 6.78000e+00 1.94200e+01 9.89000e+00 2.32000e+00
 1.68800e+01 5.27800e+01 1.10844e+03 2.66788e+03 2.22517e+03 1.08500e+01
 2.65000e+00 1.65000e+02 7.80250e+02 3.24000e+00 6.91000e+00 2.17000e+00
 4.62000e+00 2.69000e+00 9.16000e+00 6.60000e+00 3.21000e+00 2.21000e+00
 2.16000e+00 7.30000e-01 1.24000e+00 3.44000e+00 4.68000e+00 1.01300e+01
 2.50000e+02 2.73616e+03 1.15560e+03 9.20300e+01 5.00500e+01 3.26900e+01
 1.98400e+01 9.38000e+00 2.31000e+00 9.26000e+00 4.90000e-01 8.50000e+02
 2.53000e+02 2.39500e+01 6.50000e+01 1.39800e+01 3.20000e+01 3.22900e+01
 2.84000e+00 1.42000e+00 2.70000e+00 1.87000e+00 3.82000e+00 3.37000e+00
 3.57500e+01 1.93000e+00 5.27700e+01 1.99400e+01 1.75000e+02 1.53000e+00
 9.40000e-01 6.70000e+00 2.22000e+00 1.04000e+00 5.79500e+01 2.08000e+00
 4.15000e+00 4.77000e+00 3.90000e-01 3.20690e+02 8.20000e-01 8.15000e+00
 3.76500e+02 2.80050e+02 1.83750e+02 2.75600e+02 8.30000e-01 7.90000e+00
 6.98000e+00 2.89000e+00 8.25000e+00 1.95000e+02 3.29500e+01 1.68717e+03
 6.80000e-01 2.70000e+01 1.29800e+01 3.85000e+00 2.49000e+00 1.79000e+00
 7.60000e-01 3.50000e+02 1.34000e+02 1.62600e+02 2.38292e+03 2.39300e+02
 1.25295e+03 2.05307e+03 1.13630e+03 6.65000e+00 1.86786e+03 3.08820e+02
 1.25000e+01 2.22750e+02 3.29000e+00 2.35000e+00 7.05000e+00 1.04000e+01
 3.15000e+00 4.00000e+02 1.11500e+01 8.14275e+03 3.34710e+02 5.39000e+00
 6.90000e-01 5.23000e+02 5.57720e+02 9.15000e+00 2.33000e+00 7.62000e+00
 3.32000e+00 9.42000e+00 6.79000e+00 2.96000e+00 1.16300e+01 6.42000e+00
 4.27000e+00 2.46000e+00 1.68000e+00 2.93000e+02 4.17500e+01 1.24198e+03
 4.18000e+00 5.90000e-01 1.24800e+01 1.29380e+02 6.49500e+02 2.02000e+00
 3.91000e+00 3.90000e+00 2.80000e-01 8.60000e-01 2.26000e+00 2.62000e+00
 5.80000e-01 7.00000e+02 7.85000e+00 5.32000e+00 6.00000e+02 3.89680e+02
 8.50000e+01 2.39000e+00 5.50940e+02 5.50640e+02 4.51420e+02 4.30000e+00
 3.65000e+01 1.02000e+00 2.08340e+02 2.50000e+03 3.28000e+00 4.02000e+00
 4.08000e+00 5.14000e+00 5.08000e+00 1.03900e+01 1.63000e+00 1.23000e+00
 1.11700e+01 6.50000e+00 8.52800e+02 5.79000e+00 8.29000e+00 4.13000e+00
 1.07900e+01 1.64600e+01 7.08000e+00 1.31600e+01 1.24600e+01 2.49600e+01
 1.57900e+01 1.41300e+01 8.55800e+01 2.03310e+03 5.10000e+00 2.41000e+00
 5.18000e+00 8.78550e+02 6.63000e+00 1.66300e+01 2.92000e+00 9.96000e+00
 2.99000e+00 8.12000e+00 1.64000e+00 5.64000e+00 6.72000e+00 3.75000e+01
 1.96000e+00 9.98000e+00 4.67000e+00 1.16700e+01 3.12000e+00 1.49600e+01
 2.91300e+01 1.32900e+01 3.32900e+01 6.88080e+02 9.13000e+00 4.90250e+02
 3.26000e+00 1.12000e+00 6.67000e+00 2.85000e+00 4.98000e+00 5.66000e+00
 3.58000e+00 5.35000e+00 3.57000e+00 3.89000e+00 3.97000e+00 5.68000e+00
 3.15595e+03 1.52780e+02 3.22200e+01 1.20000e+02 2.40000e+02 1.99600e+01
 1.46000e+00 6.35010e+02 5.99500e+02 2.83020e+02 3.39020e+02 7.43620e+02
 3.94932e+03 2.11874e+03 1.66500e+01 2.08000e+01 3.92000e+00 4.64900e+02
 6.38300e+02 1.45500e+01 3.13000e+00 1.67000e+00 4.16106e+03 1.71000e+00
 9.01580e+02 2.48000e+00 1.11000e+00 9.08160e+02 4.04600e+01 4.24060e+02
 5.49340e+02 5.17000e+00 2.67000e+00 9.20000e-01 1.50036e+03 8.50500e+02
 3.00000e+02 6.71000e+00 2.04000e+00 1.27006e+03 1.52676e+03 5.13000e+00
 7.84000e+00 2.42000e+00 1.01000e+00 3.16000e+00 4.70000e+00 2.19500e+02
 1.59926e+03 1.86000e+00 3.30000e+00 1.33500e+01 4.76000e+00]
Count unique value:  665
----------
Columns name:  Customer ID
Unique value:  [13085. 13078. 15362. ... 15520. 13298. 12713.]
Count unique value:  5878
----------
Columns name:  Country
Unique value:  ['United Kingdom' 'France' 'USA' 'Belgium' 'Australia' 'EIRE' 'Germany'
 'Portugal' 'Denmark' 'Netherlands' 'Poland' 'Channel Islands' 'Spain'
 'Cyprus' 'Greece' 'Norway' 'Austria' 'Sweden' 'United Arab Emirates'
 'Finland' 'Italy' 'Switzerland' 'Japan' 'Unspecified' 'Nigeria' 'Malta'
 'RSA' 'Singapore' 'Bahrain' 'Thailand' 'Israel' 'Lithuania' 'West Indies'
 'Korea' 'Brazil' 'Canada' 'Iceland' 'Lebanon' 'Saudi Arabia'
 'Czech Republic' 'European Community']
Count unique value:  41
----------

clean Description

In [47]:
df['Description'] = df['Description'].str.replace(',', '')

In [48]:
df['Description'] = df['Description'].str.replace('*', '')

In [49]:
df['Description'] = df['Description'].str.strip()

In [50]:
for n in range(2,11,1):
    df['Description'] = df['Description'].str.replace(' '*n, '')

In [51]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

# 3. Manipulate cost for optimization model

In [52]:
np.random.seed(42)
df['profit_margin'] = np.random.uniform(0.01, 0.5, size=len(df))

In [53]:
df['Cost_price'] = df['Price'] * (1 - df['profit_margin'])

# 4. Export cleaned data

In [54]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,profit_margin,Cost_price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,0.193525,5.605004
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,0.475850,3.538012
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,0.368677,4.261430
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,0.303343,1.462980
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,0.086449,1.141939

In [55]:
df.to_csv('01. Cleaned_retail_data.csv', sep=',', index=False)