In [26]:
# https://www.kaggle.com/code/robikscube/time-series-forecasting-with-machine-learning-yt

In [27]:
# https://www.kaggle.com/competitions/godaddy-microbusiness-density-forecasting/discussion/372780

In [28]:
# https://towardsdatascience.com/interpreting-acf-and-pacf-plots-for-time-series-forecasting-af0d6db4061c
# https://www.analyticsvidhya.com/blog/2019/12/6-powerful-feature-engineering-techniques-time-series/

In [29]:
import warnings
warnings.simplefilter("ignore")

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit

In [33]:
from xgboost import XGBRegressor

In [34]:
from sklearn.metrics import mean_squared_error

# 1. Load data

In [35]:
df = pd.read_csv('retail_price.csv')

In [36]:
df.sample(5)

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
305,cool2,cool_stuff,01-07-2017,16,2079.84,18.715625,129.990000,33,897,1,...,99.990000,4.2,16.529091,129.99,4.3,18.715625,129.990000,4.3,18.715625,129.990000
368,watches8,watches_gifts,01-08-2018,11,1737.40,14.592727,157.945455,35,640,1,...,112.000000,4.2,13.440000,105.00,4.2,23.385714,145.550909,3.8,21.897273,157.142857
171,garden10,garden_tools,01-06-2018,6,299.40,23.251667,49.900000,59,341,2,...,49.900000,4.1,19.890833,49.90,4.2,23.251667,49.900000,4.1,22.878667,53.709524
277,watches6,watches_gifts,01-05-2018,114,11820.20,0.095439,103.792523,33,523,3,...,103.792523,4.2,0.095439,105.00,4.2,11.377297,132.531250,3.8,15.762187,105.648625
26,garden5,garden_tools,01-01-2018,4,398.00,41.540000,99.500000,36,450,1,...,49.900000,4.1,19.495000,49.90,4.2,15.841034,49.900000,4.1,16.505128,99.000000

In [37]:
df.shape

(676, 30)

# 2. Check data quality

data type

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    datetime64[ns]
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: datetime64[ns](1), float64(15), int64(12), object(2)
memory usage: 163.7+ KB

In [39]:
df['month_year'] = pd.to_datetime(df['month_year'])

In [44]:
df.rename({'month_year':'Datetime'}, axis='columns', inplace=True)

In [45]:
df

,product_id,product_category_name,Datetime,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,2017-01-05,1,45.95,15.100000,45.950000,39,161,2,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.900000
1,bed1,bed_bath_table,2017-01-06,3,137.85,12.933333,45.950000,39,161,2,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.950000
2,bed1,bed_bath_table,2017-01-07,6,275.70,14.840000,45.950000,39,161,2,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.950000
3,bed1,bed_bath_table,2017-01-08,4,183.80,14.287500,45.950000,39,161,2,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.950000
4,bed1,bed_bath_table,2017-01-09,2,91.90,15.100000,45.950000,39,161,2,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.950000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,bed5,bed_bath_table,2017-01-05,1,215.00,8.760000,215.000000,56,162,5,...,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,214.950000
672,bed5,bed_bath_table,2017-01-06,10,2090.00,21.322000,209.000000,56,162,5,...,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,215.000000
673,bed5,bed_bath_table,2017-01-07,59,12095.00,22.195932,205.000000,56,162,5,...,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,209.000000
674,bed5,bed_bath_table,2017-01-08,52,10375.00,19.412885,199.509804,56,162,5,...,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,205.000000
675,bed5,bed_bath_table,2017-01-09,32,5222.36,24.324687,163.398710,56,162,5,...,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,199.509804

In [46]:
df.sort_values('Datetime', inplace=True)

unique value

In [48]:
df.shape

(676, 30)

In [49]:
for i in df.columns:
    print('Columns name: ', i)
    print('Unique value: ', df[i].unique())
    print('Count unique value: ', df[i].nunique())
    print('-'*10)

Columns name:  product_id
Unique value:  ['health7' 'health5' 'bed2' 'garden8' 'health9' 'cool1' 'garden1'
 'computers4' 'garden3' 'watches3' 'health8' 'garden5' 'watches1' 'cool2'
 'garden9' 'garden7' 'garden2' 'cool5' 'computers1' 'garden10' 'bed1'
 'garden6' 'bed5' 'computers3' 'perfumery1' 'watches6' 'watches2'
 'watches8' 'garden4' 'furniture1' 'consoles2' 'furniture2' 'cool4'
 'consoles1' 'perfumery2' 'health2' 'watches5' 'furniture3' 'watches7'
 'health1' 'cool3' 'health4' 'computers5' 'bed4' 'bed3' 'computers2'
 'watches4' 'furniture4' 'health6' 'health3' 'computers6' 'health10']
Count unique value:  52
----------
Columns name:  product_category_name
Unique value:  ['health_beauty' 'bed_bath_table' 'garden_tools' 'cool_stuff'
 'computers_accessories' 'watches_gifts' 'perfumery' 'furniture_decor'
 'consoles_games']
Count unique value:  9
----------
Columns name:  Datetime
Unique value:  <DatetimeArray>
['2017-01-01 00:00:00', '2017-01-02 00:00:00', '2017-01-03 00:00:00',
 '2017-01-04 00:00:00', '2017-01-05 00:00:00', '2017-01-06 00:00:00',
 '2017-01-07 00:00:00', '2017-01-08 00:00:00', '2017-01-09 00:00:00',
 '2017-01-10 00:00:00', '2017-01-11 00:00:00', '2017-01-12 00:00:00',
 '2018-01-01 00:00:00', '2018-01-02 00:00:00', '2018-01-03 00:00:00',
 '2018-01-04 00:00:00', '2018-01-05 00:00:00', '2018-01-06 00:00:00',
 '2018-01-07 00:00:00', '2018-01-08 00:00:00']
Length: 20, dtype: datetime64[ns]
Count unique value:  20
----------
Columns name:  qty
Unique value:  [  1   8   2  11   5   7   4   3   9  22  14   6  13  17  34  18  16  58
  15  20  21  10  51  19  29  60  59  52  27  23  37  39  24  28  25  12
  32  31  36  26  82  69  91  87  44  40  47  50 122  43  76  57  33  71
  45  30  48  65  35  83  56  85  46  92 114  38]
Count unique value:  66
----------
Columns name:  total_price
Unique value:  [   64.99  2799.2    179.8    179.99   219.89   324.95   599.93    99.99
  1399.6    479.97   584.91  1977.8     78.    1399.86   179.91  1099.89
   539.94   499.95   419.4    699.8   1205.03  1039.92  1819.86   539.97
   179.7    259.87    59.9   1699.83   299.5   3056.6    199.98   247.9
   349.9    759.92   766.83   699.95   379.6    419.3   1799.82   319.84
  1039.84  5214.2    219.98  2339.82   119.8     45.95   239.6   2199.78
   215.    2715.7   1956.     439.96   239.98   227.96  1234.79  2247.72
   712.     809.91   925.     611.4   2209.83   652.    2090.     137.85
   789.95  4584.9    659.94   419.79   234.    2079.84  1973.83   898.5
  1099.     479.8    778.7   1138.1    275.7     38.4   1529.83    19.9
   579.71   584.77   375.     888.85   890.     120.     838.6   5394.
  1777.5    134.99   398.93   240.    1016.95   258.7    839.94 12095.
 10375.    1257.9   2698.5    218.9    359.4    142.5   1870.84  2088.7
  1617.3   1377.7    183.8    219.8   1950.    1839.2   1019.93  3326.3
  2336.1    477.6    390.    1297.78  1884.45   678.     307.2    975.
   799.92   683.     254.97  2449.3   1619.82   651.72   849.5    359.98
  1604.    2216.3    339.96  3575.     230.4   2067.7    299.97   417.
  1474.75  1679.89   339.    2190.6    460.8    179.1    395.6   3291.4
   735.      29.5   2762.5   2036.6   1656.87  5222.36   599.94  1889.79
  1018.3    968.83   891.     575.76    91.9    647.73  3499.    1729.2
  1386.    1856.9     29.9   3461.58  2206.4   1105.92   899.91  2629.83
   248.     134.9    650.     603.2    167.    2156.4    285.    1199.9
   658.9   1619.93   960.    2159.76  1079.94  1258.6   1331.1   2391.6
   792.     929.96  1120.81  1763.88  2339.74  1170.35  2178.     399.96
  3543.5    109.9   4397.7   1026.51  3711.7    563.5   1683.    1139.8
  1995.    4769.7   3900.    1421.67  2699.82  1404.    4712.19  4248.73
   179.4   3660.    2395.2   2482.2    156.    3059.64  3300.     445.85
  1043.6     99.9   3596.    2519.72   671.72  1415.76  1169.91  3139.8
   495.5    944.4   3111.36   686.    2339.87   593.4    571.8   1259.86
  2468.6   1594.2    693.      98.9   6287.2   3525.     299.7    455.81
   530.91    49.9    468.     153.6   1709.81   416.5   1367.76  4842.71
  2429.73   389.97  1769.7   2232.6   1089.    3836.8    239.8    596.
   929.8    239.94  2881.6   2759.85  1318.8    550.8   3449.77   894.
   269.8   1416.     392.    4249.5   1298.7   1247.5   2207.7    665.
  4198.8    398.    4752.     339.9    353.94   459.8   1104.87   759.81
  2629.96  1188.    8538.     569.9   1447.1   1405.    6746.9    702.
  1799.8    185.97  1477.3   1946.1    707.4    110.99   519.96  1479.98
   548.9    872.1   2242.     448.5   2795.14  3307.8    598.8   2170.87
  2831.55  5453.96  1082.     576.     271.2   3250.      76.8   1970.1
  1415.92  1092.    2043.92   734.4    994.04  1196.     478.4   3564.
   719.82  1911.8   5581.8  10343.1    825.86  1680.     840.    1828.4
   345.6   4619.      32.5   3465.8    769.45   202.    7475.    2537.19
   411.2    162.5    259.98  2411.2   1296.8   2247.6   5248.5    221.98
   203.6   3075.6    594.93   335.86   398.91  2148.    2250.8   1735.
  4319.4    383.2    195.     660.    1911.89  4543.5    328.9    679.83
  2187.3    107.8    161.7   9125.     191.92   601.8    493.4   1847.
  4860.11  5986.    2214.     101.     229.2    470.8    276.    1347.5
  1339.84   489.76  2809.65   589.9   7644.9    706.86  2277.    2680.
  1886.5   3459.    1198.8   5948.3    528.    1670.9   1115.7   1401.4
   680.     129.99  3640.68   910.     805.87   998.91   245.4   1191.9
   269.59   550.    5801.7    943.8    140.    3908.9    431.2   1969.
   338.77   205.2   1119.86   595.     880.    6764.    8961.49  1078.
   470.    6930.    1509.2   1684.    1514.87   700.7    335.3    510.27
   770.    5246.5   1042.9    815.    2479.4   2205.     974.85  1351.2
   965.91    99.98  1019.94   648.89   519.87   657.8   2657.    1248.
  2038.3    477.1   2975.    6430.8    888.3   1235.36   108.6  11820.2
  7794.8   2469.62  2174.89  1559.1   6270.     876.9    385.    2759.77
  4355.    3383.    3513.1   1723.08   199.6   5956.3   4241.     167.93
    95.8   2598.9    537.    1319.5    235.96   220.    1279.84  2982.4
  3885.     130.     191.6   1071.     299.4    789.     399.2   3086.76
   269.7   2073.3    983.6    169.98   199.95   449.82   139.9    209.3
  1741.74  1590.     748.5    999.    4004.     249.5     71.97  3042.
   455.    2940.    1039.87   292.    5280.      70.    1188.6    457.9
    72.4   1668.5   1837.7    969.9   4047.3   5288.57   149.7   1099.5
  3120.     538.2    545.3    764.1    399.92   299.46   694.9    310.
   117.98   781.3   1808.73  4058.67   698.6    257.56  1948.7   1079.91
   449.1    799.9   2200.    4290.     350.     236.7   1199.48   593.5
  1302.    1112.     699.93  7651.27   319.92    36.2    749.5    349.3
    65.      84.9   3935.68   155.8    112.     579.75   518.    1875.72
  1987.4    589.94  9240.      35.    1737.4   1601.06   414.    3276.
   309.7    313.92   754.5   2179.     388.7    199.96   499.     557.85
   973.      47.98   560.      79.9    176.97]
Count unique value:  573
----------
Columns name:  freight_price
Unique value:  [11.06       22.90125    13.02       33.54       11.75090909 15.348
 21.97142857 28.89       26.9275     33.4        33.         17.26222222
 13.65272727 17.98       16.64428571 13.81888889 30.53909091 31.946
 32.68       21.275      21.318      18.77875    17.39642857 36.64333333
 18.39333333 18.03846154 17.16       14.20235294 18.652      15.05
 21.17       34.21666667 19.29       33.71       21.22666667 35.122
 15.16888889 15.84       15.79428571 15.57722222 14.8475     26.24666667
 14.811875   15.01189655 34.13       16.09833333 18.27277778 17.67
 26.73       15.1        19.7325     15.02090909  8.76       13.44
 18.75466667 39.8975     32.0925     34.2        18.4525     42.03333333
 13.90333333 20.49090909 21.70066667 40.80125    14.16333333 24.505
 14.74       17.785      17.06117647 14.265      21.322      16.26
 16.6125     12.93333333 13.91       14.76921569 38.35166667 12.68333333
 13.82642857 10.3        15.978      18.715625   19.91214286 16.606
 17.87866667 12.015      14.805      15.39230769 16.03052632 14.84
  7.78       12.11882353 11.85       29.3        11.13517241 18.27
 15.856      17.998      39.156      16.62642857 16.11157895 13.99383333
 16.52909091 15.52545455 15.7        14.3        11.75       36.28
 14.95       13.47307692 48.10833333 22.1959322  19.41288462 18.83142857
 14.92666667 15.83272727 15.75       19.02125    15.18538462 17.68111111
 18.05043478 14.2875     10.39       21.075      33.83       15.14125
 36.46       14.65675676 18.975      18.16230769 13.58857143 16.16375
 18.22       16.24090909 19.28538462 13.845      12.105      15.37692308
 18.22875    39.5        15.57       29.94714286 13.41055556 14.27678571
 17.084      26.88       17.856      17.18702703 15.6        19.52363636
 13.5        18.64347826 18.77652174 15.93333333 33.09       15.6392
 43.72272727 13.94       15.345      17.95       26.58285714 15.41111111
 14.975      19.528      30.04        9.19       11.73       14.04111111
 19.71176471 35.9225     24.3246875  17.78166667 13.96428571 16.81176471
 16.13333333 13.74117647 16.29461538 39.01888889 16.12       16.782
 13.64       19.61       13.13666667 22.84       19.1        45.77642857
 18.98153846 17.59548387 13.455      17.73052632 36.021875   11.22
 30.83416667 18.51888889 43.88117647 12.80333333  6.81       19.545
 13.53428571 14.92       17.1225     16.81416667 16.95       17.15
 19.997      14.80727273 41.08941176 13.98       16.56291667 36.75666667
 15.55875    21.57214286 12.29294118 18.06589744 13.88241379 18.505625
 16.35375    14.2125     12.13333333 19.06526316 18.755      16.99038462
 13.75058824 17.45       18.79636364 16.1875     20.47818182 15.52
 17.80780488 47.52571429 13.65214286 18.27550725 13.65217391 32.86352941
 12.714      19.91666667 17.06747253 16.99416667 13.95875    42.51722222
 15.90846154 16.07586207 20.83703704 12.51       19.17230769 19.795
 39.39888889  7.8        17.40833333 16.13272727 16.016      21.19
 16.294      39.33678571 12.37535714 15.71166667 22.67444444 20.99277778
 45.69666667 14.29375    14.27555556 13.64535714 43.14153846 16.14
 18.103      42.60714286 17.26727273 18.89833333 18.66285714 13.71
 17.48678571 17.44638298 20.64666667 12.45684211 16.33222222 18.
 29.09285714 16.65384615 19.69166667 11.015      15.89473684 13.52470588
 13.82       17.58333333 24.47137931 38.4162963  25.59       19.184375
 17.5175     38.05545455 16.10272727 18.686      15.23       15.75960784
 47.594      25.24916667 13.6875     15.26666667 38.57       17.00333333
 10.115      38.78       11.02666667 12.87375    16.2446     22.81923077
 17.7532     20.496      38.044      28.41416667 21.88       16.19636364
 35.86       17.13       22.67833333 16.36       15.99615385 16.53368421
 38.53785714 14.165      17.66311475 11.28736842 12.215      15.84103448
 45.97       15.90166667 36.8072093  14.63333333 14.811      24.05
 19.38352941 16.50512821 14.03833333 44.63       17.41       39.19416667
 21.98272727 16.54       14.18210526 16.53263158  9.55133333 14.08322581
 22.54772727 19.495      25.28615385 14.84655172 12.23912281 16.39727273
 14.27533333 13.319      41.54       19.824       9.34       16.61153846
 22.87625    19.33       15.12928571 12.1725     10.20047619 16.19461538
 10.09125    15.61       14.5575     18.25363636 13.74944444 19.20909091
 14.53591549 26.55289855 19.575      33.00214286 43.38142857 17.51944444
 18.68555556 41.16322581 16.30764706 15.3        11.51311111 15.92666667
 43.555      15.63782609 14.096      14.08375    13.72       15.256
 16.71       18.281875   13.88090909 16.28340909 23.20533333 20.55
 33.525      16.11590909 28.89076923 15.86714286 12.55       14.59666667
 47.82583333 17.02545455 19.08111111 17.176      20.90238095 20.78
 15.22625    18.05666667 54.53166667 23.95454545 18.42507692 11.43454545
 19.98235294 16.46235294 18.22148148 62.27       21.35       19.37035714
 14.19875    15.44823529 15.18928571 18.22333333 20.31375    48.0475
 21.6652381  67.02       19.24       14.02714286 15.175      14.04333333
 19.2648     11.876875   17.592      12.56344828 15.228      28.47588235
 15.19642857 57.29846154 17.154375   16.375      21.85285714 29.476875
 22.14583333 29.6        17.55333333 20.35967742 26.27222222 19.02423077
 50.19333333 18.49       18.26129032 16.25615385 28.61461538 38.19222222
 11.67230769 12.98571429 21.229      19.87666667 42.726      25.64142857
  9.07156626 79.76       21.65       14.845      17.50192308 19.56375
 33.93       28.63272727 18.195      15.015      14.485      13.46941176
 10.869      23.32769231 27.25303571 23.49        2.18164706 20.563
 15.48       17.30904762 19.07142857 18.16833333 37.09153846 19.46846154
 19.08428571 12.94       42.21142857 30.22742857 18.17230769 17.82222222
 15.          5.28173913 13.63142857 25.346      19.44777778 13.16055556
 13.665      24.87833333 16.30272727 14.23615385 10.10318182  4.08846154
 16.645625   15.85235294 16.46       39.2172     11.58        3.80163043
 10.25631579 14.38823529  9.21285714 15.87       13.6375     10.24
  0.0954386   9.77272727 18.94307692 19.41076923 24.77447368 16.78038462
 13.51034483 15.74789474 14.41454545 39.37125    14.63454545 31.5826087
 16.259       0.         10.63121212 21.21       13.63130435 15.7621875
  7.98857143 12.055      14.71227273 24.37       12.98        9.4225
 32.23       21.943125   10.75303571 11.3772973  15.01       12.6375
 19.20666667 23.25166667 17.328      29.78625    53.62555556 21.82666667
 19.89083333 16.108      14.795      22.08       13.998      12.91
 18.86       11.50285714 30.24153846 54.763      22.87866667 21.93
 25.636      32.69727273 22.42       16.27       15.6825641  18.10153846
 23.82357143 23.122      13.36230769 17.1875     20.29875    19.32
 17.975      16.43       19.17       18.35       14.17285714 23.00565217
 48.17833333 41.186      27.62666667 35.51837209 29.79       20.99
 44.232      23.84714286 24.69       17.9795      9.36555556 14.63857143
 22.44777778 12.5225     18.81       28.37333333 24.93875    23.162
 16.47        7.67       19.952      25.90074074 33.01       33.28142857
 14.368      33.57153846 48.62666667 27.77       16.745      16.65714286
 28.42       17.238      13.41333333 21.16444444 48.62875    43.68
 34.55       17.95355556 20.4175     36.24636364 22.18       24.76
 33.74       47.745      57.23        4.41       36.941875   13.415
 12.41857143 17.25571429 23.52821429 17.79058824 34.08333333 20.50535714
 19.44       14.59272727 21.89727273 23.52666667 28.55111111 22.3
 16.33375    23.77666667 13.09035714 24.48142857  9.55307692 12.28
 36.442       9.31272727 73.59       16.77       23.38571429 20.32833333
 15.628125   39.046      13.9        12.08333333 32.32      ]
Count unique value:  653
----------
Columns name:  unit_price
Unique value:  [ 64.99       349.9         89.9        179.99        19.99
  85.70428571  99.99       159.99        78.          89.99
  69.9        241.006      129.99        59.9         82.63333333
  96.65666667 255.61       139.99        94.9        109.99
  45.95       215.         178.0571429   97.58823529 119.99
  56.99        58.79952381 149.8525      89.         185.
 100.9        163.         209.         157.99       197.383
 109.9        239.9         38.4         19.9        146.6
  75.          59.25666667 120.         161.5909091  134.99
 171.792      205.         199.5098039  179.9        142.5
 116.9275     160.6692308  325.         229.9        145.7042857
  58.99       144.96       339.          97.33333333  84.99
  23.39740741 169.9        160.4        104.25       151.99
 219.06        98.9        164.57       102.5         29.5
 148.7785714  138.59       163.3987097   99.          23.99
 216.15        29.9        346.158      137.9         92.594
 154.6958824   20.66666667 134.9         21.54285714 167.
  95.29        45.9        149.475      232.49       146.99
  34.58117647 322.1363636   53.37910448  36.85428571  53.78571429
  24.5        133.          52.40694444  44.15444444 149.99
 108.          53.64828125 157.3603704  140.56       203.2909091
  40.53181818  51.32222222  99.9        174.4333333   54.45
 118.05       345.7066667   56.97777778  55.75        88.48823529
 224.5428571   49.9        166.99        55.425       55.77096774
 348.8        119.9        149.         185.96        39.99
  55.1        183.99       118.         220.77       199.
 339.9        187.8542857  148.5         69.9953271  127.7272727
 156.5113514   61.99        86.9        117.9        110.99
 123.3316667   90.534      150.3545455   97.6425      93.09489362
  98.3         27.03333333  99.5         50.54516129 176.99
 182.         145.9942857   47.35789474  92.          78.7122807
 149.9         50.9         32.5         77.155      128.2416667
 101.          84.75608696  51.4         50.35714286 117.8888889
  51.025       51.23333333 132.97       179.         204.6181818
 347.         205.6857143   47.9        110.         173.8081818
  81.02391304  53.9        325.8928571   35.48571429 307.8333333
 151.8784375  136.1428571  105.6428571   32.74285714 117.7
  83.74        97.952       48.45944444  50.49       175.1538462
 167.5        216.1875      88.         123.9666667  113.3333333
 117.4412903   35.          87.5         35.05714286 119.19
  89.86333333 117.975      150.3423077   84.6925      34.2
  79.99       120.9230769  105.648625    94.         330.
 280.6666667  116.5284615   85.045       80.66666667  90.875
 105.         150.1333333   53.70176471  49.99       169.99
 204.3846154   52.9        119.          52.56666667  88.24
  36.2        103.7925234   83.64961538  53.70952381  79.8
 145.1666667  352.25        52.06928571 258.9695652  132.53125
 118.1318182   53.05789474  53.41515152  65.          78.9
 114.4911538  138.22       245.9         49.98       139.9
  66.99       159.         364.          73.          84.9
 152.6333333  119.1785714   79.9        122.99        78.53571429
  77.9         49.91       138.98       155.          77.93333333
  51.512      157.1428571   66.34214286 118.7        118.3636364
 139.         169.3493182  112.          82.82142857  74.
 116.9066667   98.32333333 157.9454545  145.5509091  138.
 103.2333333   39.24        83.83333333  77.82142857  50.71      ]
Count unique value:  280
----------
Columns name:  product_name_lenght
Unique value:  [59 51 54 33 48 58 47 36 35 57 45 39 56 42 49 44 40 29 60 41 46 55 38 50]
Count unique value:  24
----------
Columns name:  product_description_lenght
Unique value:  [ 492  625  245 2188  575 1012 1893  319  450  514  897  340  339  341
  995  236  161  348  162  363 1536  523  591  640  366  829  237  903
 1456  100  178 2644  789  501 1495  787  388  300  735  312  256 3006
  272 1257  894  409]
Count unique value:  46
----------
Columns name:  product_photos_qty
Unique value:  [2 1 4 3 5 6 8]
Count unique value:  7
----------
Columns name:  product_weight_g
Unique value:  [ 200  900 1383 7650  100 1200 5950 6550 6050  250 9000 4338 1600 1500
 1800 1850 4475  173 1750  350 1550 9750  922  584  444  335 1650  850
 2600 2425  150  400  342  950  363  600 1867  207  800  180 1000 2500
  700  533 1110]
Count unique value:  45
----------
Columns name:  product_score
Unique value:  [3.9 4.3 4.2 4.1 3.8 4.  4.4 3.7 4.5 3.5 3.3]
Count unique value:  11
----------
Columns name:  customers
Unique value:  [  9   2   3  19   7  25  20   6  22  21  33  17  23  31   5  11  34  58
  41  57  26   4  15  53  42  61  29  74 123  13  90 113  48   8  39  82
  14 115  54  89  10  18  81  43 146  38  50 139  64  97  36 339  49  27
  91 184  35  73  40 112  30 125 137  59 152  98  62 102 160 126  52  12
 202  45 116  83 169 127 178 111 118  92 107  16  78  95 260 159  93  66
 131 122   1  46]
Count unique value:  94
----------
Columns name:  weekday
Unique value:  [22 20 23 21]
Count unique value:  4
----------
Columns name:  weekend
Unique value:  [ 9  8 10]
Count unique value:  3
----------

missing value

In [50]:
df.isnull().sum()

product_id                    0
product_category_name         0
Datetime                      0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

zero value

In [52]:
(df == 0).sum()

product_id                     0
product_category_name          0
Datetime                       0
qty                            0
total_price                    0
freight_price                  1
unit_price                     0
product_name_lenght            0
product_description_lenght     0
product_photos_qty             0
product_weight_g               0
product_score                  0
customers                      0
weekday                        0
weekend                        0
holiday                       42
month                          0
year                           0
s                              0
volume                         0
comp_1                         0
ps1                            0
fp1                            0
comp_2                         0
ps2                            0
fp2                            0
comp_3                         0
ps3                            0
fp3                            0
lag_price                      0
dtype: int64

blank value

In [53]:
(df == '').sum()

product_id                    0
product_category_name         0
Datetime                      0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

# 3. Exploratory data analysis (EDA)

# 3. Feature engineering

datetime features

In [ ]:
def datetime_feature_extraction(df):
    # Day extraction
    df['hour'] = df['Datetime'].dt.hour
    df['dayofweek'] = df['Datetime'].dt.dayofweek
    df['dayofmonth'] = df['Datetime'].dt.day
    df['dayofyear'] = df['Datetime'].dt.dayofyear
    df['is_weekend'] = (df['Datetime'].dt.dayofweek >= 5).astype(int)
    df['is_month_start'] = df['Datetime'].dt.is_month_start.astype(int)
    df['is_month_end'] = df['Datetime'].dt.is_month_end.astype(int)
    df['is_year_start'] = df['Datetime'].dt.is_year_start.astype(int)
    df['is_year_end'] = df['Datetime'].dt.is_year_end.astype(int)
    df['weekday_weekend'] = df['Datetime'].dt.dayofweek.apply(lambda x: 0 if x >= 5 else 1)

    # Week extraction
    df['weekofyear'] = df['Datetime'].dt.isocalendar().week
    df['weekofmonth'] = np.ceil(df['dayofmonth'] / 7).astype(int)    
    
    # Month extraction
    df['month'] = df['Datetime'].dt.month
    df['quarter'] = df['Datetime'].dt.quarter
    df['is_quarter_start'] = df['Datetime'].dt.is_quarter_start.astype(int)
    df['is_quarter_end'] = df['Datetime'].dt.is_quarter_end.astype(int)
    df['days_in_month'] = df['Datetime'].dt.days_in_month

    # Year extraction
    df['year'] = df['Datetime'].dt.year
    df['year_since_2002'] = df['Datetime'].dt.year - 2002
    df['is_leap_year'] = df['Datetime'].dt.is_leap_year.astype(int)
    df['is_odd_year'] = (df['Datetime'].dt.year % 2 != 0).astype(int) # observed from data
    return df

In [ ]:
df = datetime_feature_extraction(df)

In [ ]:
df

lag features

In [ ]:
# 1 day = 24 hrs
# 1 week = 168 hrs
# 1 month = 720 hours
# 1 quarter = 2160
# 1 year = 8760 hours

In [ ]:
def lag_feature_extraction(df):
    lag_hours = [1, 2, 3, 6, 12, 24, 168, 720, 2160, 8760]

    for lag in lag_hours:
        df[f'PJME_MW_lag_{lag}h'] = df['PJME_MW'].shift(periods=lag)
    df.fillna(method='bfill', inplace=True)

    return df

In [ ]:
df = lag_feature_extraction(df)

In [ ]:
df

rolling windows

In [ ]:
def rolling_feature_extraction(df):
    rolling_periods = [12, 24, 168, 720, 2160, 8760]

    for period in rolling_periods:
        df[f'PJME_MW_MA_{period}h_mean'] = df['PJME_MW'].rolling(window=period).mean().shift(1)
        df[f'PJME_MW_MA_{period}h_min'] = df['PJME_MW'].rolling(window=period).min().shift(1)
        df[f'PJME_MW_MA_{period}h_max'] = df['PJME_MW'].rolling(window=period).max().shift(1)
        df[f'PJME_MW_MA_{period}h_std'] = df['PJME_MW'].rolling(window=period).std().shift(1)

    return df

In [ ]:
df = rolling_feature_extraction(df)

In [ ]:
df

drop na

In [ ]:
df = df.dropna()

In [ ]:
df.isna().sum()

correlation

In [ ]:
corr = df.corr()

In [ ]:
fig, ax = plt.subplots(figsize=(20, 5))
sns.heatmap(corr, annot=True, ax=ax)

In [ ]:
corr_churn_table = corr['PJME_MW'].sort_values(ascending=False)

In [ ]:
corr_churn_table.head(20)

In [ ]:
corr_churn_abs_table = corr['PJME_MW'].abs().sort_values(ascending=False)

In [ ]:
corr_churn_abs_table.head(20)

# 4. Model

In [ ]:
df

In [ ]:
df_for_predict

train-test split

In [ ]:
df = df.sort_values('Datetime')

In [ ]:
df.drop(columns=['Datetime'], inplace=True)

In [ ]:
X = df.drop(columns=['PJME_MW'])
y = df['PJME_MW']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, shuffle=False)

model

In [ ]:
model = XGBRegressor()

In [ ]:
tscv = TimeSeriesSplit(n_splits = 5)

In [ ]:
param_grid = {
    'n_estimators': [1000, 1500, 2000],
    'max_depth': [5, 7, 10],
    'learning_rate': [0.05, 0.1, 0.2]
}

In [ ]:
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=tscv, scoring='neg_mean_squared_error', n_jobs=-1)

In [ ]:
grid_search.fit(X_train, y_train)

In [ ]:
grid_search.best_params_

In [ ]:
grid_search.best_score_

evaluate

In [ ]:
y_pred = grid_search.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)

In [ ]:
-mse

# 5. Predict

In [ ]:
df_for_predict

In [ ]:
last_timestamp = df_for_predict['Datetime'].max()

In [ ]:
last_timestamp

In [ ]:
future_timestamps = [last_timestamp + pd.Timedelta(hours=i) for i in range(1, 24*365*2)]

In [ ]:
future_predictions = []

In [ ]:
# recursive

In [ ]:
for timestamp in future_timestamps:
    # Prep features
    df_feature = pd.DataFrame([[timestamp, None]], columns=['Datetime', 'PJME_MW'])
    future_predictions = pd.concat([df_for_predict, df_feature], ignore_index=True, sort=False)
    df_for_predict_feature = datetime_feature_extraction(future_predictions)
    df_for_predict_feature = lag_feature_extraction(df_for_predict_feature)
    df_for_predict_feature = rolling_feature_extraction(df_for_predict_feature)
    df_for_predict_feature = df_for_predict_feature.tail(1).iloc[:,2:]
    y_predicted = grid_search.predict(df_for_predict_feature)[0]
    # Predict
    df_predicted = pd.DataFrame([[timestamp, y_predicted]], columns=['Datetime', 'PJME_MW'])
    # Append
    df_for_predict = pd.concat([df_for_predict, df_predicted], ignore_index=True, sort=False)
    # # Print
    print(timestamp, y_predicted)

In [ ]:
df_for_predict['predict_flag'] = np.where(df_for_predict['Datetime'] <= last_timestamp, 'Actual', 'Predicted')

In [ ]:
df_for_predict

In [ ]:
plt.figure(figsize=(10, 6))
actual_data = df_for_predict[df_for_predict['predict_flag'] == 'Actual']
predicted_data = df_for_predict[df_for_predict['predict_flag'] == 'Predicted']
plt.plot(actual_data['Datetime'], actual_data['PJME_MW'], color='blue', label='Actual')
plt.plot(predicted_data['Datetime'], predicted_data['PJME_MW'], color='orange', label='Predicted')
plt.xlabel('Datetime')
plt.ylabel('PJME_MW') 
plt.title('PJME_MW over Time')
plt.legend()
plt.show()